<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      
        <!-- Fengyuan Chen's Datepicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
      
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="icon" type="image/svg+xml" href="{% static 'icons/teal-handshake-regular.svg' %}">
        <title>{% block title %}{% endblock %} | MeetingSched </title>
    </head>

    <body>
        <nav class="py-3 px-6 flex justify-between border-b border-gray-200 bg-gray-100">
            <div class="flex items-center space-x-2 w-2/5">
                <a href="/" class="text-xl font-semibold hover:text-teal-500"><i class="fa-regular fa-handshake"></i> MeetingSched</a>
            </div>

            
            <div class="flex items-center space-x-3 justify-end">
                {% comment %} <form action='' class="flex items-center space-x-3 justify-end w-1/3">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search" class="border border-gray-300 rounded shadow bg-gray-100 py-2 px-4 w-full">
                </form>  {% endcomment %}
                {% if user.is_authenticated %}
                    <h2 class="hover:text-teal-500">Hello, {{ user.username }}!</h2>
                    {% if user.is_staff %}
                        <a href="{% url 'core:users' %}" class="py-2 px-4 text-base font-semibold text-white bg-gray-700 rounded-xl hover:bg-teal-500"><i class="fa-solid fa-gear fa-spin"></i></a>
                    {% endif %}
                    <a href="{% url 'core:logout' %}" class="py-2 px-4 text-base font-semibold bg-red-500 text-white rounded-xl hover:bg-gray-700"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out </a>
                {% else %}
                <a href="{% url 'core:signup' %}" class="py-2 px-4 text-base font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
                <a href="{% url 'core:login' %}" class="py-2 px-4 text-base font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Log in</a>
                {% endif %}
            </div>
        </nav>

        <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>